@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    /* colors */
    --bg-color: #FFF;
    --second-bg-color: #f3fdf5;
    --text-color: #1f242d;
    --second-text-color: #FFF;
    --button-text-color: #FFF;
    --second-button-text-color: #1f242d;
    --button-background-color: #A0E5AF;
    --second-button-background-color: #1f242d;
    --main-color: #A0E5AF;
    --error-color: #d93025;
    /* transition */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;
    /* FontSize */
    --headline: 4.5rem;
    --subtitle: 3rem;
    --logo: 2.5rem;
    --nav-link: 1.7rem;
    --social-media-link: 2rem;
    --paragraph: 1.6rem;
    --button: 1.6rem;
    /* LetterSpacing */
    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;
    /* Radius */
    --radius-circle: 50%;
    /* FontWeight */
    --font-weight-600: 600;
}
[data-theme='dark']{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #FFF;
    --button-text-color: #1f242d;
    --second-button-text-color: #FFF;
    --main-color: #A0E5AF;
    --error-color: #d93025;
}
/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1f242d;
        --second-bg-color: #323946;
        --text-color: #FFF;
        --button-text-color: #1f242d;
        --second-button-text-color: #FFF;
        --main-color: #A0E5AF;
        --error-color: #d93025;
    }
} */
strong {
    font-weight: normal;
    font-style: normal;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.heading {
    text-align: center;
    font-size: var(--headline);
}
.subtitle {
    text-align: center;
    font-size: var(--subtitle);
    margin: 2rem 30% 2rem 30%;
    border-bottom: 3px solid var(--main-color);
}
::-webkit-scrollbar {
    width: 3px;
    border-radius: 10%;
}
::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
.hover-underline{
    position: relative;
}
.hover-underline::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-block: 1px solid var(--main-color);
    transform: scaleX(0.2);
    opacity: 0;
    transition: var(--transition-2);
}
.hover-underline:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
    opacity: 1;
}
/* === Day/Night Button === */
.dayNightMode .switch {
    position: relative;
    overflow: hidden;
    width: 7.5rem;
    height: 4rem;
}
.dayNightMode .switch input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}
.dayNightMode .switch label {cursor: pointer;}
.dayNightMode .background {
    z-index: 1;
    position: absolute;
    width: 7.5rem;
    height: 4rem;
    border-radius: 2.5rem;
    border: 0.25rem solid #202020;
    background: linear-gradient(to right, #484848 0%,#202020 100%);
    transition: all 0.3s;
}
.dayNightMode .stars1,
.dayNightMode .stars2 {
    position: absolute;
    height: 0.4rem;
    width: 0.4rem; 
    background: #FFFFFF;
    border-radius: 50%;
    transition: 0.3s all ease;
}
.dayNightMode .stars1 {
    top: 6px;
    right: 23px;
}
.dayNightMode .stars2 {
    top: 40px;
    right: 48px;
}
.dayNightMode .stars1:after,
.dayNightMode .stars1:before,
.dayNightMode .stars2:after,
.dayNightMode .stars2:before{
    position: absolute;
    content: "";
    display: block;
    height: 0.25rem;
    width: 0.25rem;
    background: #FFFFFF;
    border-radius: 50%;
    transition: 0.2s all ease;
}
.dayNightMode .stars1:after {
    top: 8px;
    right: 20px;
}
.dayNightMode .stars1:before {
    top: 18px;
    right: -12px;
}
.dayNightMode .stars2:after {
    top: -8px;
    right: -16px;
}
.dayNightMode .stars2:before {
    top: 6px;
    right: -26px;
}
.dayNightMode .sun-moon {
    z-index: 2;
    position: absolute;
    left: 0;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    background: #FFFDF2;
    border-radius: 50%;
    transition: all 0.5s ease;
    /* Default to Moon */
    border: 0.25rem solid #DEE2C6;
}
.dayNightMode .sun-moon:hover {
    transform: scale(1.3);
    transition: var(--transition-2);
}
.dayNightMode .switch input:checked ~ .sun-moon:hover{
    transform: scale(1.3);
    transition: var(--transition-2);
}
/* Transition to Sun */
.dayNightMode .switch input:checked ~ .sun-moon {
    left: calc(100% - 4rem);
    background: #F5EC59;
    border-color: #E7C65C;
    transform: rotate(-25deg);
}
.dayNightMode .switch input:checked ~ .background .stars1,
.dayNightMode .switch input:checked ~ .background .stars2 {
    opacity: 0;
    transform: translateY(2rem);
}
.dayNightMode .switch input:checked ~ .background {
    border: 0.25rem solid #78C1D5;
    background: linear-gradient(to right, #78C1D5 0%, #BBE7F5 100%);
}
/* === Header ===*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky {border-bottom: .1rem solid rgba(0, 0, 0, .2);}
.text-link {color: var(--main-color);}
.logo {
    font-size: var(--logo);
    color: var(--text-color);
    cursor: pointer;
    font-weight: 700;
}
.navbar a {
    font-size: var(--nav-link);
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
    font-weight: 500;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.popup {
    border-radius: 30px;
    box-shadow: 0 0 2rem rgba(160, 229, 175, 1);
}
.popup-title {font-size: 3rem;}
.popup-text {font-size: 1.7rem;}
.popup-progressbar {
    background: var(--text-color);
    margin-left: 25px!important;
}
.popup-confirmbutton {
    font-size: 1.5rem!important;
    font-weight: 600;
    height: 50px;
    width: 130px;
    background-color: var(--text-color)!important;
    border: var(--main-color) 2px solid!important;
    border-radius: 30px!important;
}
.popup-confirmbutton:hover {
    transform: scale(1.1);
    transition: var(--transition-1);
    background-color: var(--text-color)!important;
}
/* === Home === */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img {
    border-radius: 50%;
    width: 25vw;
    margin: 10vh;
    animation: floatImage 4s ease-in-out infinite;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-last-of-type(2) {margin-bottom: 2rem;}
span {color: var(--main-color);}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p {font-size: var(--paragraph)}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: var(--radius-circle);
    font-size: var(--social-media-link);
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}
.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    transform: scale(1.15);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--button-background-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: var(--button);
    color: var(--button-text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover {
    box-shadow: none;
    transform: scale(1.1);
}
/* === About === */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.about-img img {
    border-radius: 10%;
    width: 25vw;
    margin: 3rem;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {font-size: 2.6rem;}
.about-content p {
    font-size: var(--paragraph);
    margin: 2rem 0 3rem;
}
/* === Services === */
.services {background-color: var(--second-bg-color);}
.services h2 {margin-bottom: 5rem;}
.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: 0.5s ease;
}
.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}
.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3 {font-size: 2.6rem;}
.services-box p {
    font-size: var(--paragraph);
    margin: 1rem 0 3rem;
}
.services-box div p {
    font-size: var(--paragraph);
    margin: 1rem 0 1rem;
}
.services-box div {
    padding-top: 3.5rem;
    border-top: dotted var(--main-color) 2px;
}
.services .ecom {margin: 2rem 0 0 0;}
/* === Portfolio === */
.portfolio {background: var(--bg-color);}
.portfolio h2 {margin-bottom: 4rem;}
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    /* box-shadow: 0 0 1rem var(--main-color); */
    overflow: hidden;
    display: flex;
}
.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img {transform: scale(1.1);}
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .6), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}
.portfolio-layer h4 {
    font-size: 3rem;
    color: var(--second-text-color);
}
.portfolio-layer p {
    font-size: var(--paragraph);
    margin: .3rem 0 1rem;
    color: var(--second-text-color);
}
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--second-text-color);
    border-radius: 50%;
}
.portfolio-layer a i {
    font-size: 2rem;
    color: var(--main-color);
}
/* politique de confidentialité */
.pdc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20rem 5rem 20rem;
}
.pdc__section__div h2 {
    text-align: left;
    line-height: 1.2;
}
.pdc__section__div h3 {font-size: 2.6rem;}
.pdc__section__div p {
    font-size: var(--paragraph);
    margin: 2rem 0 3rem;
}
/* Conditions générales de ventes */
.cgv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20rem 5rem 20rem;
}
.cgv__section__div h2 {
    text-align: left;
    line-height: 1.2;
}
.cgv__section__div h3 {font-size: 2.6rem;}
.cgv__section__div p {
    font-size: var(--paragraph);
    margin: 2rem 0 3rem;
}
/* Conditions générales de ventes */
.ml {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20rem 5rem 20rem;
}
.ml__section__div h2 {
    text-align: left;
    line-height: 1.2;
}
.ml__section__div h3 {font-size: 2.6rem;}
.ml__section__div p {
    font-size: var(--paragraph);
    margin: 2rem 0 3rem;
}
/* === Error === */
.error {border: .1rem solid var(--error-color);}
/* === Footer === */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}
.footer-text p {font-size: var(--paragraph);}
.footer-text a {
    font-size: var(--nav-link);
    color: var(--main-color);
    transition: 0.5s;
}
.footer-text a:hover {color: rgba(160, 229, 175, 0.5);}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--button-background-color);
    border-radius: .8rem;
    transition: .5s ease;
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a:hover {
    transform: scale(1.1);
    box-shadow: none;
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--button-text-color);
}
/* === Breakpoint === */
@media (max-width: 1200px) {
    html {font-size: 55%;}
    .cgv {margin: 0 20rem 5rem 20rem;}
    .pdc {margin: 0 20rem 5rem 20rem;}
}
@media (max-width: 991px) {
    .header {padding: 2rem 3%;}
    section {padding: 10rem 3% 2rem;}
    .services {padding-bottom: 7rem;}
    .portfolio {padding-bottom: 7rem;}
    .footer {padding: 2rem 3%;}
    .cgv {margin: 0 20rem 5rem 20rem;}
    .pdc {margin: 0 20rem 5rem 20rem;}
}
@media (max-width: 898px) {
    .portfolio-box .portfolio-layer {transform: translateY(0);}
    .portfolio-container {grid-template-columns: repeat(2, 1fr);}
}
@media (max-width: 768px) {
    .cgv {margin: 0 7rem 5rem 7rem;}
    .pdc {margin: 0 7rem 5rem 7rem;}
    #menu-icon {display: block;}
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        /* border-top: .1rem solid rgba(0, 0, 0, .2); */
        box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, .2);
        display: none;
        border-radius: 0 0 10% 10%;
    }
    .navbar.active {display: block;}
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        text-align: center;
    }
    .home {
        flex-direction: column;
        text-align: center;
    }
    .home-content h3 {font-size: 2.6rem;}
    .home-content h1 {font-size: 5rem;}
    .home-img img {
        width: 50vw;
        margin: 20vh;
        margin-top: 10rem;
    }
    .about {flex-direction: column-reverse;}
    .about-content {
        text-align: center;
        margin: 3rem;
    }
    .about-content h2 {
        text-align: center;
        margin-bottom: 3rem;
    }
    .about img {
        width: 70vw;
        margin-top: 4rem;
    }
    .services h2 {margin-bottom: 3rem;}
    .portfolio h2 {margin-bottom: 3rem;}
}
@media (max-width: 660px) {
    .footer {flex-direction: column-reverse;}
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}
@media (max-width: 617px) {
    .portfolio-container {grid-template-columns: 1fr;}
    .cgv {margin: 0 5rem 5rem 5rem;}
    .pdc {margin: 0 5rem 5rem 5rem;}
}
@media (max-width: 450px) {
    html {font-size: 50%;}
    .cgv {margin: 0 1rem 5rem 1rem;}
    .pdc {margin: 0 1rem 5rem 1rem;}
    .subtitle {
        margin: 2rem 15% 2rem 15%;
    }
}
@media (max-width: 365px) {
    .home-img img {
        width: 75vw;
        margin: 10vh;
    }
    .about-img img {width: 90vw;}
    .subtitle {
        margin: 2rem 10% 2rem 10%;
    }
    /* .footer p {
        text-align: center;
        margin-top: 2rem;
    }
    .footer {flex-direction: column-reverse;} */
}
/* === Keyframes === */
@keyframes floatImage {
    0% {transform: translateY(0);}
    50% {transform: translateY(-2.4rem);}
    100% {transform: translateY(0);}
}