@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: #042326;
}

header{
    color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 1%;
    align-items: center;
    text-align: center;
    position: relative;
}

main{
    padding-top: 1%;
    padding-bottom: 2%;
}

footer{
    color: whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    text-align: center;
}

footer a{
    color: whitesmoke;
    transition: 500ms ease;
}

footer a:hover{
    color: #107361;
}

.container{
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: whitesmoke;
    position: relative;
}

/* .items{
    text-align: center;

    margin: 1%;
    padding: 2%;

    border: #107361 1px solid;
    border-radius: 20px;

    box-shadow: 1px 1px 12px rgb(0, 0, O, 0,2);
}

.items a p{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;

    font-size: 17px;
    letter-spacing: 2px;
} */

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

h1 {
    font-size: 90px;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: whitesmoke;
    outline: none;
    text-align: center;
}
  
h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 3px;
}

.pp{
    max-width: 10%;
    border-radius: 50%;

    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

.illustration{
    max-width: 25%;
    margin-left: 3%;

    position: absolute;
    z-index: 2;

    border-radius: 50%;

    filter: drop-shadow(5px 5px 5px rgba(0,0,0,2));
}

.laptop{
    max-width: 25%;
    margin-left: 20%;

    position: absolute;
    z-index: 3;

    filter: drop-shadow(5px 5px 5px rgba(0,0,0,2));
}

.floating{
    animation: floating 5s ease-in-out 0s infinite;
}

.floating2{
    animation: floating2 5s ease-in-out 1s infinite;
}

.floating3{
    animation: floating3 5s ease-in-out 0.5s infinite;
}


/* //// Menu /// */

  .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .links{
    display: flex;
    gap: 2rem;
  }
  
  .action-btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
  }
  
  .action-btn:hover{
    scale: 1.05;
    color: #fff;
  }
  
  .action-btn:active{
    scale: 0.95;
  }

  li{
    list-style: none;
  }


  /* DROP MENU*/
  
  .dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .dropdown-menu.open{
    height: 240px;
  }
  
  .dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown-menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

@keyframes floating{
    0%{
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translateY(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translateY(-7px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translateY(0px);
    }
}

@keyframes floating2{
    0%{
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,2));
        transform: translateY(0px);
    }

    50% {
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
        transform: translateY(-20px);
    }

    100% {
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,2));
        transform: translateY(0px);
    }
}

@keyframes floating3{
    0%{      
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,2));
        transform: translateY(0px);
    }

    50% {
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
        transform: translateY(13px);
    }

    100% {
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,2));
        transform: translateY(0px);
    }
}

@media (max-width: 900px){

    header{
        padding-top: 5%;
    }

    main{
        padding-top: 3%;
        padding-bottom: 4%;
    }

    footer{
        font-size: 13px;

        padding-top: 10%;
    }

    .illustration {
        visibility: hidden;
    }

    .laptop{
        visibility: hidden;
    }

    h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .pp{
        max-width: 30%;
    }

    .items{
        margin: 2%;
        padding: 4%;
    }

    /* gestion drop menu */

    .navbar .links,
    .navbar .action-btn{
      display: none;
    }
  
    .navbar .toggle-btn{
      display: block;
    }
  
    .dropdown-menu{
      display: block;
    }
}

@media(max-width: 576px){
    .dropdown-menu{
      left: 2rem;
      width: unset;
    }
  
  }